snippet "(ex|explore)" "Looker explore" r
    explore: ${1:explore_name} {
        view_name: ${2:$1}
    }

snippet dim "A looker dimension" b
    dimension: ${1:name} {
        type: ${2:string}
        sql: ${TABLE}.${3:$1} ;;
    }

snippet measure "A looker measure" b
    measure: ${1:name} {
        type: ${2:average}
        sql: ${4:${TABLE}.${3:$1}} ;;
    }
