*.swp
*.swo
tags
stow/w3m/history
stow/w3m/w3mcache*
stow/w3m/w3mtmp*
stow/w3m/cookie
stow/.Rhistory
stow/dot-config/fish/fishd.*
stow/dot-config/fish/fundle
stow/dot-config/fish/fish_variables
stow/dot-config/karabiner/automatic_backups/
.DS_Store
stow/dot-config/nvim/tmp/
.watchman-cookie*
