*.swp
*.swo
tags
main/w3m/history
main/w3m/w3mcache*
main/w3m/w3mtmp*
main/w3m/cookie
main/.Rhistory
main/dot-config/fish/fishd.*
main/dot-config/fish/fundle
main/dot-config/fish/fish_variables
main/dot-config/karabiner/automatic_backups/
.DS_Store
main/dot-config/nvim/tmp/
.watchman-cookie*
main/dot-hammerspoon/Spoons/EmmyLua.spoon/annotations/
