export DEFAULT_USER=thales
setopt interactivecomments
# No delay when pressing ESC
KEYTIMEOUT=50

# Edit in external editor
export VISUAL='vim-tmux'
autoload -z edit-command-line
zle -N edit-command-line
bindkey "^X^E" edit-command-line

# Mappings
bindkey "^P" history-beginning-search-backward
bindkey "^N" history-beginning-search-forward

# Editor config
export EDITOR='vim'

# Colored less
export LESSOPEN="| /usr/local/bin/src-hilite-lesspipe.sh %s"
export LESS=' -R '

# Aliases
source ~/.zshrc.alias

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Remove history duplicates
export HIST_IGNORE_ALL_DUPS=1

# Make autoenv work at when login in folder with .env
if [ -f .env ]; then
  cd .
fi

# Add alias
new-alias() {
  local last_command=$(echo `history |tail -n2 |head -n1` | sed 's/[0-9]* //')
  echo alias $1="'""$last_command""'" >> ~/.zshrc.alias
  zsh ~/.zshrc.alias
}

# complete words from tmux pane(s) {{{1
# Source: http://blog.plenz.com/2012-01/zsh-complete-words-from-tmux-pane.html
_tmux_pane_words() {
  local expl
  local -a w
  if [[ -z "$TMUX_PANE" ]]; then
    _message "not running inside tmux!"
    return 1
  fi
  # capture current pane first
  w=( ${(u)=$(tmux capture-pane -J -p)} )
  for i in $(tmux list-panes -F '#P'); do
    # skip current pane (handled above)
    [[ "$TMUX_PANE" = "$i" ]] && continue
    w+=( ${(u)=$(tmux capture-pane -J -p -t $i)} )
  done
  _wanted values expl 'words from current tmux pane' compadd -a w
}

zle -C tmux-pane-words-prefix   complete-word _generic
zle -C tmux-pane-words-anywhere complete-word _generic
bindkey '^Xt' tmux-pane-words-prefix
bindkey '^X^X' tmux-pane-words-anywhere
zstyle ':completion:tmux-pane-words-(prefix|anywhere):*' completer _tmux_pane_words
zstyle ':completion:tmux-pane-words-(prefix|anywhere):*' ignore-line current
# display the (interactive) menu on first execution of the hotkey
zstyle ':completion:tmux-pane-words-(prefix|anywhere):*' menu yes select interactive
zstyle ':completion:tmux-pane-words-anywhere:*' matcher-list 'b:=* m:{A-Za-z}={a-zA-Z}'
# }}}
