# No delay when pressing ESC
KEYTIMEOUT=50
# Make zsh completions work
fpath=(/usr/local/share/zsh-completions $fpath)

# Editor config
export EDITOR='vim'

# Aliases
source ~/.zshrc.alias

# Reload path for autocompletion
autoload -U compinit compdef
compinit

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Make YouCompleteMe work
export DYLD_FORCE_FLAT_NAMESPACE=1

# Remove history duplicates
export HIST_IGNORE_ALL_DUPS=1

# Make autoenv work at when login in folder with .env

if [ -f .env ]; then
	cd .
fi

# Add alias
new-alias() {
  local last_command=$(echo `history |tail -n2 |head -n1` | sed 's/[0-9]* //')
  echo alias $1="'""$last_command""'" >> ~/.zshrc.alias
  . ~/.zshrc.alias
}
