# No delay when pressing ESC
KEYTIMEOUT=1
# Make zsh completions work
fpath=(/usr/local/share/zsh-completions $fpath)

# Editor config
export EDITOR='vim'

# Aliases
alias gs='git status'
alias gm='git commit -m'
alias ga='git add'
alias gd='git diff'
alias rbnodemon='nodemon -L -e rb -i ".git/**/*"  -x "rspec --fail-fast"'
alias t='tmux attach -t base || tmux new -s base'
alias szsh='source ~/.zshrc'
alias goo='googler'
alias vim='OMNIVIM_EDITOR=nvim omnivim.py'

# Reload path for autocompletion
autoload -U compinit compdef
compinit

export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Make YouCompleteMe work
export DYLD_FORCE_FLAT_NAMESPACE=1

# Remove history duplicates
export HIST_IGNORE_ALL_DUPS=1

# Make autoenv work at when login in folder with .env

if [ -f .env ]; then
	cd .
fi
