snippet "[Mm]od" "ModifierFlag for Karabiner" r
    ModifierFlag::${1:NONE}

snippet "[Kk]ey" "ModifierFlag for Karabiner" r
    KeyCode::${1:A}

snippet t "Description" i
    <$1>${VISUAL}${2}</$1>$0
